/********** Style index **********/
/*
General styles:
	General typography
	General links
	Other

Menu:
	Menu links

Front page:
	Quiz logo

Quiz pages styles:
	Quiz container
	Quiz name
	Quiz image
	Quiz progress bar
	Quiz details container
	Quiz category
	Quiz answer
	Quiz next button
	Quiz score

Media queries
*/

/********** General styles **********/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	--clr-color: #d77f04;
	--clr-light: #fff;
	--clr-dark: #222;
	--clr-correct: hsla(111, 89%, 43%);
	--clr-wrong: hsl(0, 100%, 30%);
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	min-width: 270px;
	max-width: 100%;
	margin: 0;
	font: 400 1.6rem/1.6 "Open Sans", sans-serif;
	text-align: left;
	color: var(--clr-dark);
	background: var(--clr-light);
}

main {
	width: 960px;
	max-width: 100%;
	margin: 0 auto;
}

/* General typography */

h1 {
	font: 700 2.6rem/1.6 "Open Sans", sans-serif;
	text-align: center;
	margin-top: 15px;
	transition: font ease-in-out .5s;
}

h2 {
	font: 700 1.6rem/1.6 "Open Sans", sans-serif;
}

p {
	margin: 0 0 16px;
}

.text-large {
	font: 700 2.6rem/1.6 "Open Sans", sans-serif;
	text-align: center;
}

/* General links */

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	outline: 0;
	color: inherit;
}

a:hover,
a:active {
	color: #757575;
}

/* Other */

.hide {
	display: none;
}

/********** Menu **********/

#menu {
	display: flex;
	align-items: center;
	height: 50px;
	padding: 0 5%;
	color: var(--clr-light);
	background: var(--clr-dark);
}

#menu nav ul li {
	display: inline;
	margin: 0 16px 0 0;
}

/* Menu links */

#menu nav ul li a {
	font: 400 2.6rem/1.6 "Open Sans", sans-serif;
	text-decoration: none;
}

.menu-link:hover,
.menu-link:active,
.menu-link_active {
	color: var(--clr-color);
}

/********** Front page **********/

#frontpage {
	margin: 60px auto 0;
}

.container {
	display: flex;
	justify-content: space-evenly;
}

.quizzes h2 {
	text-align: center;
}

/* Quiz logo */

.quiz-logo {
	width: 100px;
	height: 100px;
	margin: 9px 0;
}

.quiz-logo:hover,
.quiz-logo:active {
	opacity: 0.8
}

.level-icon {
	display: inline-flex;
	vertical-align: middle;
	width: 13px;
}

/********** Quiz pages styles **********/

/* Quiz container */
#quiz {
	position: relative;
	display: flex;
	flex-flow: column;
	padding-top: 0%;
	transition: padding ease-in-out .5s;
}

/* Quiz name */
.quiz-name{
	position: absolute;
	display:flex;
	align-self: center;
	color: var(--clr-light);
	z-index: 3;
}

/* Quiz image */

.quiz-question-cover {
	position: relative;
	display: flex;
	justify-content: center;
}

.quiz-question-cover > img {
	object-fit: cover;
	height: 200px;
	width: 100%;
	overflow: hidden;
	z-index: 1;
	filter: blur(2px);
	border: 2px solid #fff;
}

/* Quiz progress bar */

.quiz-question-progress {
	position: absolute;
	align-self: center;
	width: 100%;
	height: 100%;
	padding-top: 1rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-color: rgba(34, 34, 34, 0.5);
	z-index: 2;
}

.quiz-question-progress > progress[value]{
	display: flex;
	width: 80%;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--clr-light);
	border-width: 1px;
	background-color: rgba(0, 0, 0, 0);
}
.quiz-question-progress > progress[value]::-webkit-progress-bar {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 50%;
}
.quiz-question-progress > progress[value]::-webkit-progress-value {
	background-color: var(--clr-light);
	border-radius: 10px;
	box-shadow: 0px 0px 0px 1px var(--clr-light);
}
.quiz-question-progress > progress[value]::-moz-progress-bar {
	width: 80%;
	border-radius: 10px;
	border-style: solid;
	border-color: var(--clr-light);
	background: var(--clr-light);
	border-width: 1px;
	box-shadow: 0px 0px 0px 1px var(--clr-light);
}

.quiz-question-progress > label {
	display: flex;
	font-weight: 700;
	color: var(--clr-light);
}

/* Quiz details container */
.quiz-question-container{
	padding: 1.6rem 5% 0;
	display: flex;
    flex-direction: column;
	transition: padding ease-in-out .5s;
}	

/* Quiz category */

.quiz-question-container > p:first-of-type {
	font: 400 italic 1.6rem/1.6 "Open Sans", sans-serif;
	margin: 0;
}

/* Quiz answer */

.quiz-answer {
	display: block;
	width: 100%;
	min-height: 45px;
	margin: 0 0 16px;
	padding: 0.5rem 1rem;
	border: 1px solid var(--clr-dark);
	border-radius: 3px;
	font: 400 1.6rem/1.6 "Open Sans", sans-serif;
	text-align: left;
	background: var(--clr-light);
	transition: 0.1s;
}
.quiz-answer:hover {
	transform: translate(2px, -2px);
	box-shadow: -2px 2px var(--clr-dark);
}
.quiz-answer_correct {
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--clr-correct);
	border: none;
}

.quiz-answer_correct:hover {
	box-shadow: -2px 2px var(--clr-light);
}

.quiz-answer_wrong {
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--clr-wrong);
	border: none;
}

.quiz-answer_wrong:hover {
	box-shadow: -2px 2px var(--clr-light);
}

/* Quiz next button */

.quiz-next-button {
	align-self: flex-end;
	height: 45px;
	margin: 0 0 16px;
	padding: 0 10px;
	border: none;
	border-radius: 3px;
	font: 700 1.6rem/1.6 "Open Sans", sans-serif;
	color: var(--clr-light);
	background: var(--clr-color);
}

.quiz-next-button:hover,
.quiz-next-button:active {
	color: var(--clr-light);
	background: var(--clr-dark);
}

/* Quiz score */

.quiz-score {
	font-weight: 700;
	color: var(--clr-color)
}

/********** Media queries **********/
@media only screen and (min-width: 960px) {
	
	.quiz-question-container {
		padding: 1.6rem 0 0;
	}
	
	#quiz {
		padding-top: 5%;
	}
	
	h1 {
		font-size: 3.6rem
	}
	
	.quiz-question-text {
		font-size: 2rem
	}
	
	.quiz-score {
		font-size: 2.6rem
	}
	
  }